@using Palindrome.Models
@model PalindromeModel

    <h1>Taco Cat: A Coding Project</h1>
    <p>This Project reverses a string using a "decremented for" loop and prints it out, while checking if it is a palindrom.</p>

    <div class="col col-md-6">
        <h5>Enter a string to reverse</h5>
        <form method="post" asp-controller="Palindrome" asp-action="PalindromeView">
            <div class="col-12">
                <input type="text" id="userString" class="form-control" required
                       placeholder="Enter 2 or more characters" asp-for="UserInput" />
            </div>
            <div class="col-12">
                <button type="submit" id="btnSubmit" class="btn btn-danger">Reverse!</button>
            </div>
        </form>
        </div>